*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1
{
    margin-bottom: 20px;
    text-align: center;
}

button
{
    
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    background-color:lavenderblush;
    
}

.user
{
    
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color:thistle;
    line-height: 1.5;
    text-align: center;
    

}
.user strong
{
    display: block;
    
}

